.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  margin-top: 40px;
  
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 30px;
  padding: 18px 30px;
  font-weight: 500;

}

.namelink{
    color:white;
    font-family: Gotham, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

}

.rightdiv {
  display: flex;
  align-items: center;
  height: 80px;
}

.rightbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 55px;
  background-color: white;
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  font-size: 17px;
  border: none;
  border-radius: 38px;
  padding: 4px 5px 4px 24px;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.rightbutton:hover {
  background-color: #94A82F; /* Custom green */
  color: white;
}


.lanbutton {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); /* Safari support */
  width: 100px;
  height: 50px;
  border-radius: 9999px; /* Full rounded */
}

